<%= form_with(model: gamification, local: true) do |form| %>
  <% if gamification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gamification.errors.count, "error") %> prohibited this gamification from being saved:</h2>

      <ul>
      <% gamification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="field">
    <%= form.label :positive %>
    <%= form.number_field :positive %>
  </div>

  <div class="field">
    <%= form.label :negative %>
    <%= form.number_field :negative %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
