<p id="notice"><%= notice %></p>

<h1>Gamifications</h1>

<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Positive</th>
      <th>Negative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamifications.each do |gamification| %>
      <tr>
        <td><%= gamification.reason %></td>
        <td><%= gamification.positive %></td>
        <td><%= gamification.negative %></td>
        <td><%= link_to 'Show', gamification %></td>
        <td><%= link_to 'Edit', edit_gamification_path(gamification) %></td>
        <td><%= link_to 'Destroy', gamification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamification', new_gamification_path %>
