<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @gamification.reason %>
</p>

<p>
  <strong>Positive:</strong>
  <%= @gamification.positive %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @gamification.negative %>
</p>

<%= link_to 'Edit', edit_gamification_path(@gamification) %> |
<%= link_to 'Back', gamifications_path %>
