<%= form_with(model: affair, local: true) do |form| %>
  <% if affair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(affair.errors.count, "error") %> prohibited this affair from being saved:</h2>

      <ul>
      <% affair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label 'Nome' %><br>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit 'Enviar' %>
  </div>
<% end %>
