<%= link_to '', affairs_path,class:"fa fa-chevron-left",style:"font-size:20px;"%>
<div class="projeto-body">
    <h1>Editando Projeto</h1>
</div>
<div class="projeto-body under">
    <%= render 'form', affair: @affair %>
</div>