<div class="projeto-body">
  <h1>Projetos <i class="fa fa-cubes"></i></h1>
</div>
<% @affairs.each do |affair| %>
<div class="projeto-body  under" style="text-align:center;">
    <%= link_to '', affair, method: :delete, data: { confirm: 'Tem Certeza?' },class:"fa fa-times",style:"color:red;float:right;font-size:20px;margin-left:15px;" %>
    <%= link_to '', edit_affair_path(affair), class:"fa fa-pencil",style:"color:#A1CAC6;float:right;font-size:20px;"%>
  <strong style="font-size:20px; "><a href="/projetos/<%=affair.id%>"><i class="fa fa-cube"></i><%=affair.name%></a></strong>
</div>  
<div class="projeto-body under nested"style="background-color:#EFEFEF;">
  <strong style="font-size:15px; ">Membros Alocados <i class="fa fa-users"></i></strong>
<%= link_to  "", "projetos/#{affair.id}/members/delete",class:"fa fa-user-times" ,style:"color:red;float:right;font-size:15px;margin-left:15px;" %>
  <%= link_to  "", "projetos/#{affair.id}/members/new",class:"fa fa-user-plus" ,style:"color:green;float:right;font-size:15px;" %>
</div>
  <% if affair.users != nil %>
    <%affair.users.each do |user|%>
    <div class="projeto-body under nested">
      <i class="fa fa-user"></i> <%= user.name %>
    </div>
    <%end%>
  <%end%>
<%end%>
<div class="novo"><%= link_to '', new_affair_path, class:"fa fa-plus-circle", style:"color:green;"%></div>


