<%= link_to '', affairs_path,class:"fa fa-chevron-left",style:"font-size:20px;" %>
<div class="projeto-body">
    <%if current_user.try(:admin?)%>
        <%= link_to '', edit_affair_path(@affair), class:"fa fa-pencil",style:"color:#222D32;float:right;font-size:20px;"%>
    <%end%>
    <h1><%=@affair.name%></h1>
</div>
<div class="projeto-body under"style="background-color:#EFEFEF;">
    <strong style="font-size:15px; ">Membros Alocados <i class="fa fa-users"></i></strong>
</div>
<% @affair.users.each do |user| %>
<div class="profile-body under nested" style="background-color:rgba(159, 201, 197,0.3);">
    <%unless user.avatar.file.nil?%>
        <%= image_tag  user.avatar_url,size:"90x90", class:"img-circle" %>
    <%else%>
        <%= image_tag  "default",size:"90x90",class:"img-circle" %>
    <%end%>
    <div class="profile-card">
        <h3><a href="/users/<%=user.id%>"><%= user.name %></a><br>
        <small><%= user.role %></small></h1>
        <p class="indent"><i class="fa fa-envelope"></i> <%= user.email %></p>
    </div>
</div>
<%end%>


