<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <div class="input-group-prepend">
    <%= form.label "Nome" %>
  </div>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <div class="input-group-prepend">
    <%= form.label :email %>
    </div>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <div class="input-group-prepend">
    <%= form.label "cargo" %>
    </div>
    <%= form.text_field :role %>
  </div>
  <div class="field">
    <div class="input-group-prepend">
    <%= form.label "senha" %>
    </div>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <div class="input-group-prepend">
    <%= form.label "descrição" %>
    </div>
    <%= form.text_area :info ,style:"min-width:500px;max-width:500px;"%>
  </div>
  <div class="field">
    <%= form.label "imagem de perfil"%>
    <%= form.file_field :avatar %>
  </div>
  <%if current_user.try(:admin?)%>
  <div class="field">
    <div class="input-group-prepend">
    <%= form.label "administrador" %>
    </div>
    <%= form.check_box :admin %>
  </div>
  <%end%>
  <div class="actions">
    <%= form.submit "Enviar"%>
  </div>
<% end %>
