<%if current_user.try(:admin?)%>
    <%= link_to '', users_path,class:"fa fa-chevron-left",style:"font-size:20px;"%>
<%else%>
    <%= link_to "", "/users/#{current_user.id}",class:"fa fa-chevron-left",style:"font-size:20px;"%>
<%end%>
<div class="profile-body">
    <h1>Editar <i class="fa fa-user"></i></h1>
</div>
<%if current_user.try(:admin?)%>
    <%if @gamifications != nil%>
<div class="projeto-body under"style="background-color:#EFEFEF;">
    <h2>Pontuação <i class="fa fa-trophy"></i></h2>
</div>
<div class="profile-body under nested edit">
    <table>
    <thead>
        <tr>
            <th>Motivo</th>
            <th>Positivo</th>
            <th>Negativo</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% @gamifications.each do |gamification| %>
        <tr>
            <td><%= gamification.reason %></td>
            <td><div style="color:green;"><%= gamification.positive %></div></td>
            <td><div style="color:red;"><%= gamification.negative %></div></td>
            <td><%= link_to 'Remover', gamification, method: :delete,class:"fa fa-times",style:"color:red;font-size:15px;", data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
    <%end%>
</table>
<%= link_to 'Adicionar', 'gamification', class:"fa fa-plus-circle",style:"color:green;font-size:15px;" %>
</div>
<div class="profile-body edit">
<%end%>

<%= render 'form', user: @user %>
</div>
