<%= link_to  "Back", "/staff/users/#{@user.id}/edit" %>
<div class="projeto-body">
    <h1>Adiconar Pontos</h1>
</div>
<div class="projeto-body edit">
<%= form_for( @gamification ) do |f| %>
    <div class="field">
        <%= f.label "Motivo" %>
        <%= f.text_field :reason %>
    </div>

    <div class="field">
        <%= f.label "Pontos Positivos" %>
        <%= f.number_field :positive %>
    </div>

    <div class="field">
        <%= f.label "Pontos Negativos" %>
        <%= f.number_field :negative %>
    </div>
    <div class= "field">
        <%= f.hidden_field :user_id, :value => @user.id %>
    </div>

    <div class="actions">
        <%= f.submit "Adicionar Pontos"%>
    </div>
<% end %>
</div>