<p id="notice"><%= notice %></p>
<div class="profile-body">
  <h1>Membros <i class="fa fa-users"></i></h1>
</div>
<% @users.each do |user| %>
<div class="profile-body under" style="background-color:rgba(159, 201, 197,0.3);">
  <div style="">
    <%= link_to '', user, method: :delete, data: { confirm: 'Tem Certeza?' },class:"fa fa-times",style:"color:red;float:right;font-size:20px;margin-left:15px;" %>
    <%= link_to '', edit_user_path(user), class:"fa fa-pencil",style:"color:##A1CAC6;float:right;font-size:20px;"%>
  </div>
  <%unless user.avatar.file.nil?%>
    <%= image_tag  user.avatar_url,size:"90x90", class:"img-circle" %>
  <%else%>
      <%= image_tag  "default",size:"90x90",class:"img-circle" %>
  <%end%>
  <div class="profile-card">
    <h3><a href="/users/<%=user.id%>"><%= user.name %></a><br>
    <small><%= user.role %></small></h1>
    <p class="indent"><i class="fa fa-envelope"></i> <%= user.email %></p>
  </div>
</div>
<%@pos = @neg = 0%>
<%user.gamifications.each do |g|%>
  <%@pos += g.positive%>
  <%@neg += g.negative%>
<%end%>
  <% unless user.gamifications.first == nil %>
  <div class="profile-body under nested">
    <b>Total Gamification:</b><div style="display:inline;color:green;margin-left:20px;">+<%=@pos%> positivos</div><div style="display:inline;color:red;margin-left:20px;"> -<%=@neg%> negativos</div>
  </div>
  <%end%>
<%end%>
<div class="novo"><%= link_to '', new_user_path,style:"color:green;font-size:40px",class:"fa fa-plus-circle" %></div>
