<%if current_user.try(:admin?)%>
    <%#= link_to 'Back', root_path%>
<%end%>
<div class="profile-body">
<%if current_user == @user || current_user.try(:admin?) %>
    <%= link_to 'Editar', edit_user_path(@user),style:"float:right;color:red;",class: "fa fa-edit" %>
<%end%>
        <%unless @user.avatar.file.nil?%>
            <%= image_tag  @user.avatar_url,size:"150x150", class:"img-circle" %>
        <%else%>
            <%= image_tag  "default",size:"150x150",class:"img-circle" %>
        <%end%>
        <div class="profile-info">
            <h1><%= @user.name %><br>
            <small><%= @user.role %></small></h1>
            <p class="indent"><i class="fa fa-envelope"></i> <%= @user.email %></p>
        </div>
</div>
<div class="profile-body under">
    <strong class="icone"><i class="fa fa-info-circle"></i> Informação</strong><br>
    <p style="text-align:justify;"><%= @user.info %><p>
</div>

<div class="profile-body under">
    <strong class="icone"><i class="fa fa-history"></i> Histórico de projetos</strong class="icone">
    <ol>
    <% unless @user.histories == nil %>
        <%@user.histories.each do |h|%>
            <li><%=h.project_name%></li>
        <%end%>
    <%end%>
    </ol>
</div>
<div class="profile-body under">
    <strong class="icone"><i class="fa fa-trophy"></i> Gamification</strong class="icone">
<%unless @user.gamifications.length == 0%>
    <table>
    <thead>
        <tr>
            <th>Motivo</th>
            <th>Positivo</th>
            <th>Negativo</th>
        </tr>
    </thead>
    <tbody>
    <%@p = @n = 0%>
    <%@user.gamifications.each do |g|%>
        <tr>
            <td><div><%= g.reason %></div></td>
            <td><div style="color:green;"><%= @p += g.positive %></div></td >
            <td><div style="color:red;"><%=@n += g.negative %></div></td >
        </tr>
    <%end%>
        <tr>
            <td><b><div>Total:</div></b></td>
            <td><div style="color:green;"><%=@p%></div></td>
            <td><div style="color:red;"><%=@n%></div></td>
        </tr>
    </tbody>
    </table>
<%end%>
</div>
