<%= link_to '', affairs_path,class:"fa fa-chevron-left",style:"font-size:20px;" %>
<div class="projeto-body under"style="background-color:#EFEFEF;">
    <strong style="font-size:15px; ">Membros Disponíveis <i class="fa fa-users"></i></strong>
</div>
<% @users.each do |user| %>
<div class="profile-body under nested" style="background-color:rgba(159, 201, 197,0.3);">
    <%unless user.avatar.file.nil?%>
        <%= image_tag  user.avatar_url,size:"90x90", class:"img-circle" %>
    <%else%>
        <%= image_tag  "default",size:"90x90",class:"img-circle" %>
    <%end%>
    <div class="profile-card">
        <h3><%= user.name %><br>
        <small><%= user.role %></small></h1>
        <p class="indent"><i class="fa fa-envelope"></i> <%= user.email %></p>
    </div>
</div>
<%end%>

<div class="projeto-body under"style="background-color:#EFEFEF;">
<%= form_for( @affair ) do |f| %>
    <h3>Escolha um membro</h3>
    <div class="field">
        <%= f.select :users, @users.collect { |user| [user.name, user.id] }%>
    </div>
    <div class="actions">
        <%= f.submit "Alocar Membro"%>
    </div>
<% end %>
</div>
