
#login-box{
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 250px;
    text-align: center;
    border-radius: 3px;
    padding: 15px;
}
input{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
}
