// Place all the styles related to the project_members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the affairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projeto-body{
    border: solid 1px;
    border-color:grey;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:4%;
    background-image: url("profile-background");
    padding: 30px;
    word-wrap: break-word;
    .img-circle{
        margin-left: 10%;
        border: solid 3px;
        border-color: #AFCDCD;
    }
}
.under{
    margin-top: 2%;
    background-image: none;
    background-color:white;
    padding: 15px;
}
.nested{
    margin-top: 2%;
    margin-left: 20%;
}
.novo{
    font-size: 40px;
    margin-left: 5%;
}
.novo :hover{
    transform: scale(1.2,1.2)
}