// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-body{
    border: solid 1px;
    border-color:grey;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    background-image: url("profile-background");
    padding: 30px;
    word-wrap: break-word;
    .img-circle{
        margin-left: 5%;
        border: solid 3px;
        border-color: #AFCDCD;
    }
}
.under{
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: none;
    background-color:white;
    padding: 15px;
}
.nested{
    margin-top: 3px;
    margin-left: 20%;
}
.edit{
    background-image:none;
    background-color: rgba(60, 141, 188,0.1);
}
.indent{
    margin-left:70px;
    font-size: 15px;
}
.profile-info{
    border: solid 1px;
    border-color:grey;
    background-color: rgba(213, 225, 225,0.5);
    padding: 15px;
    float: left;
    border-bottom: solid 3px;
    border-bottom-color:#222D32;
}
input{
    border-radius: 5px;    
}
textarea{
    max-width: 100%;
    width: 100%;
    height: 150px;
}
td .p{
    margin-bottom: 0px;
}
.profile-card{
    margin-left: 50px;
    float: left;
}
.novo{
    font-size: 40px;
    margin-left: 5%;
}
.novo :hover{
    transform: scale(1.2,1.2)
}
.icone{
    width:100%;
    font-size: 20px;
}