<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b></b>G</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>GT</b>i</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <%unless current_user.avatar.file.nil?%>
              <%= image_tag  current_user.avatar_url, size:"20x20",class:"img-circle" %>
            <%else%>
              <%= image_tag  "default",size:"20x20",class:"img-circle" %>
            <%end%>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
            <%unless current_user.avatar.file.nil?%>
              <%= image_tag  current_user.avatar_url,size:"90x90", class:"img-circle profile" %>
            <%else%>
              <%= image_tag  "default",size:"90x90",class:"img-circle profile" %>
            <%end%>
              <p>
                <%=current_user.name%>
                <small>Membro desde <%=current_user.created_at.strftime("%d/%m/%Y ")%></small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile" , "/users/#{current_user.id}",class:"btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to  "Sign out", destroy_user_session_path ,method: :delete,class:"btn btn-default btn-flat"%> 
              </div>
            </li>
          </ul>
        </li>
      <%if current_user.try(:admin?)%>
        <li style="background-color:#29719b;"><%=link_to "",users_path, class: "fa fa-terminal",style:"color:#4fff63;"%></li>
      <%end%>
      </ul>
    </div>
  </nav>
</header>
