<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
      <%unless current_user.avatar.file.nil?%>
        <%= image_tag  current_user.avatar_url,size:"45x45",class:"img-circle" %>
      <%else%>
        <%= image_tag  "default",size:"45x45",class:"img-circle" %>
      <%end%>
      </div>
      <div class="pull-left info">
        <p><%=current_user.name%></p>
        <!-- Status -->
        <a href="/users/<%=current_user.id%>"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
    <li class="header">Atalhos</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href="#"><i class='fa fa-cubes'></i> <span>Meus Projetos</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <%current_user.affairs.each do |a|%>
          <li><%= link_to  " #{a.name}", "/projetos/#{a.id}",class:"fa fa-cube" %></li>
          <%end%>
        </ul>
      </li>
    <%if current_user.try(:admin?)%>
    <li class="header">Admnistração</li>
      <!--admin links-->
      <li class=""><a href="/projetos"><i class='fa fa-cubes'></i> <span>Projetos</span></a></li>
      <li class=""><a href="/staff/users"><i class='fa fa-users'></i> <span>Membros</span></a></li>
    <%end%>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
